<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<style type="text/css">
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

button:hover {
  opacity: 0.8;
}

img{
	width: 50%;
}

img:hover {
	opacity: 0.8;
}

</style>

<body>
	<div>
		<h1>Messaging Application With Distributed Storage</h1>
		<img src="/static/app_msg.jpeg" alt="image"/>
		<br/>
		<a href="login"> <button>Login</button> </a>
		<br/>
		<a href="register"> <button>Register</button> </a>
	</div>
</body>
</html>